/* header start */
.top-header {
    background-color: var(--pc);
    padding-block: 6px;
    display: flex;
    align-items: center;
}

.rating {
    font-size: 14px;
    padding: 6px 10px;
    background-color: #AB0C0C;
    border-radius: 4px;
    color: var(--white);
}

.header-nav {
    font-size: 15px;
}

.top-nav {
    gap: 30px;
    display: flex;
    align-items: center;
}

.top-nav a {
    color: var(--light-white);
    font-size: 15px;
    position: relative;
    font-weight: 400;
    transition: var(--transition);
}

.top-nav a:hover {
    color: var(--white);
}

.top-nav svg :is(g, defs) {
    stroke: var(--light-white);
}

.top-nav a:hover svg :is(g, defs) {
    stroke: var(--white);
}

.top-nav a::after,
.currency::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: #ffffff59;
    ;
    top: 5px;
}

.top-nav a::after {
    right: -15px;
}

.curr-lang-selector {
    background-color: #ab0c0c;
    color: var(--white);
    cursor: pointer;
    font-size: 15px;
    padding: 5px 8px;
    border-radius: 32px;
    line-height: 1.5;
    font-weight: 300;
    gap: 20px;
}

.currency {
    position: relative;
}

.currency::after {
    right: -11px;
}

.currency,
.language {
    gap: 8px;
}

.top-nav a:last-child:after {
    display: none;
}

.support {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* header end */


/* search start */
.header-search {
    border: 1px solid #CDCDCD;
    padding: 12px 20px;
    width: 300px;
    border-radius: 34px;
    position: relative;
    align-items: center;
}
.header-search form{
    gap: 10px;
}

.header-search input {
    border: unset;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

    .search-cancel-btn{
      display: none !important;
    }


/* search end */


/* navigation start */
.header nav li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.header nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header nav li a {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--black);
    transition: var(--transition);
}

.dropdown:hover svg path {
    fill: var(--pc);
    transition: var(--transition);
}

.header nav li a:hover {
    --black: var(--pc)
}

.header nav ul {
    display: flex;
    gap: 30px;
}

.header-right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.dropdown svg {
    margin-top: 5px;
}

.header .dropdown ul {
    position: absolute;
    left: 0;
    white-space: nowrap;
    top: 40px;
    width: fit-content;
    visibility: hidden;
    opacity: 0;
    transform: scale(1, 0);
    transform-origin: 0 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    z-index: 2;
    background: var(--white);
    border-radius: 4px;
    box-shadow: 0px 30px 70px 0px rgba(137, 139, 142, 0.15);
    border: 1px solid #f5f5f5;
}


/* .login-button, */
.login-btn {
    border-radius: 4px !important;
    padding: 8px 16px !important;
    border: 1px solid transparent;
    color: var(--pc);
    overflow: hidden;
    z-index: 1;
    outline: 1px solid var(--pc);
}

svg.user {
    width: 28px;
    background: #ff000021;
    height: 26px;
    padding: 0px;
    border-radius: 36px;
    text-align: center;
}

/* navigation end */

.cart {
    width: 46px;
    height: 46px;
    position: relative;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.23);
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
}

.cart .cart-no {
    position: absolute;
    width: 17px;
    height: 20px;
    background: var(--pc);
    color: var(--white);
    right: -4px;
    top: -5px;
    border-radius: 17px;
    font-size: 12px;
}

.cart-img {
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    overflow: hidden;
}

.cart-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
}

.cart-body{
 padding: 20px 13px;
 max-height: 350px;
 overflow-y: auto;
 background: #fff6f4;
}

.cart-card{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 20px;
}

.cart-card-title{
    font-weight: 600;
    color: var(--black);
    transition: var(--transition);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    margin-bottom: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.empty-cart-message{
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;
    gap:10px;
}

.cart-heading{
    font-weight: 600;
    font-size: 18px;
}
/* .cart-card-title:hover{
    color: var(--pc);
} */

.cart-price{
    color: var(--pc);
    font-weight: 600;
    font-size: 16px;
}

.checkout-button{
    padding: 8px 10px;
    background-color: var(--pc);
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    display: inline-block;
}

.cart-inner{
    display: flex;
    flex-direction: column;
    gap:6px;
}

.cart-container{
    position: relative;
}
.cart-content{
    background: var(--white);
    border: 1px solid #dfdfdf;
    width: 350px;
    position: absolute;
    top: 60px;
    right: 0;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.cart-content.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.cart-meta{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete svg, .edit svg{
 cursor: pointer;
 transition: var(--transition);
}

.delete:hover svg, .edit:hover svg{
 fill: var(--pc);
}

.cart-header{
    padding: 13px;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, .12);
}

.close-cart{
    font-size: 27px;
    line-height: 27px;
    cursor: pointer;
}

.total-amt span{
    font-weight: 600;
}

.cart-title{
    font-weight: 600;
    font-size: 18px;
}

.header {
    border: 1px solid #E4E4E4;
    background-color: var(--white);
    padding-block: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown ul {
    display: block;
    visibility: hidden;
    position: absolute;
    margin: 0;
    z-index: 99;
    transform-origin: top;
    transform: scale(0);
    padding: 10px;
    background-color: var(--white);
    box-shadow: 0 0 30px rgb(127 137 161 / .25);
    transition: all 0.3s;
}


.toggle-button {
    border: 1px solid #DBDBDB;
    background-color: #FFE3E0;
    padding: 7px;
    border-radius: 4px;
    display: flex;
}

.cancel-button,
.toggle-button {
    display: none;
}

.doc-overlay {
    bottom: 0;
    height: 100vh;
    opacity: .5;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
    background: var(--black);
}

.search-button {
    cursor: pointer;
}



/* language modal popup start */
/* #langModal .modal-content {
    width: 25%;
} */

/* .switch-label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
} */
/* 
.switch-dropdown-wrapper {
    position: relative;
}

.switch-dropdown .list-box .list-option {
    padding: 10px;
    cursor: pointer;
}

.switch-dropdown .list-box .list-option:hover {
    background-color: rgb(238, 238, 238);
}

.switch-dropdown .list-box {
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 16px;
    border-radius: 4px;
}

.switch-dropdown .list-box .list-option.selected {
    background-color: #ffeded;
}

#applyBtn {
    width: 100%;
}

.switch-arrow {
    position: absolute;
    top: 36%;
    right: 12px;
    transform: translateY(-50%) rotate(0deg);
    font-size: 14px;
    color: #666;
    pointer-events: none;
    transition: transform 0.3s ease;
}

.switch-arrow.active {
    transform: translateY(-50%) rotate(180deg);
} */

/* language modal popup end */

/* search  down on mobile */
.header-search.search-show{
    transform: translateY(0px);
}

.overlay {
    position: fixed;
    background-color: #00000094;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 11;
}

    .search-cancel-button{
        display: none;
    }
/* search  down on mobile */