.container,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.bd-gutter {
  --bs-gutter-x: 3rem;
}

.container-fluid{
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
    --bs-gutter-x: 3rem;
    --bs-gutter-y: 0;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }

  /* general start ////////////*/
  p {
    margin-bottom: 1rem;
  }

  img,
  svg {
  vertical-align: middle;
  }

  .img-fluid {
      max-width: 100%;
      height: auto;
  }

    button,
  [role=button],
  [class*='btn'] {
    cursor: pointer;  
    border: unset;
    font-size: 1rem;
    outline: none;
  }

  figure {
  max-width: 100%;
  }

  .img-placeholder {
      aspect-ratio: 16/9;
  }


  ol, ul {
    padding-left: 1rem;
  }

  .row-gap{
    row-gap: 30px;
  }

  .col-gap{
    column-gap: 30px;
  }

  .mb-0{
    margin-bottom: 0;
  }

  .mb-20{
    margin-bottom: 20px;
  }

  .mb-40{
    margin-bottom: 40px;
  }

  .w-100{
    width: 100%;
  }

  .mt-40{
    margin-top: 40px;
  }
  /* general end ////////////*/


/* Flex ___________ Starts ////////////*/
[class*="d-grid"]{
  display: grid;
}

[class*="flex"]{
    display: flex;
  }

  .align-center{
    align-items: center;
  }

  .justify-center{
    justify-content: center;
  }

  .flex-between {
    justify-content: space-between;
    }

    .flex-wrap{
        flex-wrap: wrap;
      }

      .flex-column{
        flex-direction: column;
      }

.gap-10{
  gap: 10px;
}
/* Flex ___________ End ////////////*/


/* common componet */
[class^="btn"] {
    padding: 12px 24px;
    width: fit-content;
    display: inline-block;
}

.sec-space{
    margin-top: clamp(2.5rem, 1.1607rem + 3.5714vw, 4.375rem);
}

.sec-inner-space{
 padding-block: clamp(2.5rem, 1.1607rem + 3.5714vw, 4.375rem);
}



/* common componet */


/* header start \\\\\\\\\*/
header {
    height: 80px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

header ul .dropdown ul {
    display: block;
    visibility: hidden;
    position: absolute;
    margin: 0;
    z-index: 99;
    transform-origin: top;
    transform: scale(0);
    padding: 10px;
}

.dropdown {
    position: relative;
}

header nav ul li {
    padding-block: 22px;
}

header ul .dropdown ul li {
    padding: 10px;
    min-width: 170px;
}

.dropdown::after, .dropdown .dropdown::after {
    content: "";
    display: flex;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-top: 4px;
}

.group-btn{
    display: flex;
    gap:10px;
    align-items: center;
}
/* header end \\\\\\\\\*/


/* accordions start */
.accordions details {
  margin-bottom: 10px;
  padding-block: 16px 14px;
}

.accordions summary {
  cursor: pointer;
  display: flex;
  gap: 15px;
  margin-bottom: 2px
}

.accordions .content {
  margin-top: 10px;
  padding-top: 10px
}

.accordions summary a {
  display: contents
}

.accordions summary:after {
  content: "";
  flex: none;
  height: 25px;
  margin-left: auto;
  margin-top: 2px;
  rotate: 90deg;
  width: 25px
}

.accordions details[open]>summary:first-of-type:after {
  transform: rotate(270deg)
}
/* accordions end */

  /* responsive */
        @media (min-width: 576px) {
            .container {
                max-width: 540px;
            }
        }

        @media (min-width: 768px) {
            .container {
                max-width: 720px;
            }

            .col-md-3 {
              flex: 0 0 auto;
              width: 25%;
            }

            .col-md-6 {
              flex: 0 0 auto;
              width: 50%;
            }

            .col-md-9 {
              flex: 0 0 auto;
              width: 75%;
            }
            }

            @media (min-width: 992px) {
                .container {
                    max-width: 960px;
                }

                .col-lg-2 {
                  flex: 0 0 auto;
                  width: 16.66666667%;
                }
                
                .col-lg-3 {
                  flex: 0 0 auto;
                  width: 25%;
                }

                .col-lg-4 {
                    flex: 0 0 auto;
                    width: 33.33333333%;
                  }

                  .col-lg-5 {
                    flex: 0 0 auto;
                    width: 41.66666667%;
                  }

                .col-lg-6 {
                    flex: 0 0 auto;
                    width: 50%;
                  }

                  .col-lg-7 {
                    flex: 0 0 auto;
                    width: 58.33333333%;
                  }

                  .col-lg-8 {
                    flex: 0 0 auto;
                    width: 66.66666667%;
                  }

                  .col-lg-9 {
                    flex: 0 0 auto;
                    width: 75%;
                  }

                    .ml-md-auto{
                      margin-left: auto;
                  }
                 
            }


            @media (min-width: 1200px) {
                .container {
                    max-width: 1140px;
                }

                .col-xl-3 {
                  flex: 0 0 auto;
                  width: 25%;
                }
                .col-xl-4 {
                  flex: 0 0 auto;
                  width: 33.33333333%;
                }
            }
            
            @media (min-width: 1400px) {
                .container {
                    max-width: 1320px;
                }
            }
              